
.hot-counts-container
{
    .hot-counts-content
    {
        width: 80%;
        margin: 0 auto;
        mat-icon
        {
            font-size: 60px;
            margin-left: -35px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .hot-counts-content
    {
        width: 100% !important;
    }
 
  }