.get-started-container{
    background:url('../../../../../assets/images/started-img.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    .get-started-container-wrap {
        width: 60%;
        margin: 0 auto !important;
    }
    .user-btn {
        background: transparent;
        border: 1px solid #fff;
        padding: 17px !important;
        width: 67%;
        height: 100%;
        color: #fff;
    }   
    .user-btn:hover {
        background: #3c774b !important;
    }  
} 
@media only screen and (max-width: 768px) {
    .get-started-container-wrap {
        width: 100% !important;
    }
    .user-btn {
        width: 90% !important;
    }   
  }