<div class="get-started-container display-col-center" [ngStyle]="{'background-image': 'url(../assets/images/started-img.jpg)'}">
    <div class="wrapper">
        <div class="h1 font-white text-center">Get Started</div>
        <div class="h3 font-light font-white text-center padding-v-1">Qui malorum reformidans ne. Sea omittantur persequeris ex,
             eum cibo prima tantas te, , facilis argumentum vim</div>
        <div class="start-option padding-v-1 display-center">
            <div class="existing-user">
                <div class="caption">
                    <div class="title font-white h3 text-center">Existing User</div>
                    <div class="info font-white h4 text-center">Update and enrich your business</div>
                </div>
            </div>
            <div class="new-user">
                <div class="caption">
                    <div class="title font-white h3 text-center">New User</div>
                    <div class="info font-white h4 text-center">Get started claim your business</div>
                </div>
            </div>
        </div>
    </div>
</div>
