<div class="get-started-container">
    <div class="get-started-container-wrap">
        <div class="row  text-center p-md-5 p-5">
            <div class="col-md-12 mb-5">
               <div>
                  <h4 class="font-bold">GET STARTED</h4>
                  <h6 class="">Qui malorum reformidans ne. Sea omittantur persequeris ex, eum cibo prima tantas te, , facilis argumentum vim</h6>
               </div>
            </div>
            <div class="col-md-6 col-6"><button class="user-btn font-bold">Existing User</button></div>
            <div class="col-md-6 col-6"><button class="user-btn font-bold">New User</button></div>
        </div>
    </div>
</div> 
