
        <div class=" category-section text-center p-md-5 p-5">
           <div class="row">
               <div class="col-md-12 mb-5">
                  <div>
                     <h4 class="font-bold">EXPLORE THE MARKETPLACE</h4>
                     <h6 class="text-theme">Once you have settled on a bussiness</h6>
                  </div>
               </div>
               <div class="col-md-3 col-6 mb-4">
                  <div class="img-cont"><img src="../../../../../assets/images/category/agriculture.png" class="category-img"></div>
                  <h6 class="mb-1 mt-1 text-light">Agriculture</h6>
                  <h6 class="text-theme font-bold">Browse Category Now</h6>
               </div>
               <div class="col-md-3 col-6 mb-4">
                  <div class="img-cont"><img src="../../../../../assets/images/category/Health.png" class="category-img"></div>
                  <h6 class="mb-1 mt-1 text-light">Agriculture</h6>
                  <h6 class="text-theme font-bold">Browse Category Now</h6>
               </div>
               <div class="col-md-3 col-6 mb-4">
                  <div class="img-cont"><img src="../../../../../assets/images/category/Beauty and body care.png" class="category-img"></div>
                  <h6 class="mb-1 mt-1 text-light">Agriculture</h6>
                  <h6 class="text-theme font-bold">Browse Category Now</h6>
               </div>
               <div class="col-md-3 col-6 mb-4">
                  <div class="img-cont"><img src="../../../../../assets/images/category/home n offices.png" class="category-img"></div>
                  <h6 class="mb-1 mt-1 text-light">Agriculture</h6>
                  <h6 class="text-theme font-bold">Browse Category Now</h6>
               </div>
               <div class="col-md-3 col-6 mb-4">
                  <div class="img-cont"><img src="../../../../../assets/images/category/informational websites and new media.png" class="category-img"></div>
                  <h6 class="mb-1 mt-1 text-light">Agriculture</h6>
                  <h6 class="text-theme font-bold">Browse Category Now</h6>
               </div>
               <div class="col-md-3 col-6 mb-4">
                  <div class="img-cont"><img src="../../../../../assets/images/category/Water conservation.png" class="category-img"></div>
                  <h6 class="mb-1 mt-1 text-light">Agriculture</h6>
                  <h6 class="text-theme font-bold">Browse Category Now</h6>
               </div>
               <div class="col-md-3 col-6 mb-4">
                  <div class="img-cont"><img src="../../../../../assets/images/category/Salons and spas.png" class="category-img"></div>
                  <h6 class="mb-1 mt-1 text-light">Agriculture</h6>
                  <h6 class="text-theme font-bold">Browse Category Now</h6>
               </div>
               <div class="col-md-3 col-6 mb-4">
                  <div class="img-cont"><img src="../../../../../assets/images/category/bioremediation services.png" class="category-img"></div>
                  <h6 class="mb-1 mt-1 text-light">Agriculture</h6>
                  <h6 class="text-theme font-bold">Browse Category Now</h6>
               </div>
            </div>
        </div>
