
.feauture-container {
    width: 80%;
    margin: 0 auto;
    .listing-btn {
        padding: 9px;
        border: none;
        width: 138px;
        color: #fff;
        font-weight: 700;
        background: #3c774b !important;
    }
    .business-info
    {
        color: #3c774b;
    }
    .bg-1
    {
        background:url('../../../../../assets/images/feature-img-3.png');
    }
    .bg-1-sub
    {
        background:url('../../../../../assets/images/feauture-sub-bg-1.png');
    }
    .bg-1,.bg-1-sub{
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    img{
        width: 100%;
    };

}
@media only screen and (max-width: 768px) {
    .feauture-container {
        width: 100%;
    }
  }