<div class="features-container">
    <div class="feature-item-wrapper">
        <div class="feature-img" [ngStyle]="{'background-image': 'url(../assets/images/feature-img-1.png)'}">
        </div>
        <div class="feature-desc">
            <div class="feature-title">Claim your business</div>
            <div class="feature-sub-desc">
                <button class="btn feature-btn">Get Listing</button>
            </div>
        </div>
    </div>
    <div class="feature-item-wrapper feature-mid">
        <div class="feature-desc">
            <div class="feature-title">Business information</div>
            <div class="feature-sub-desc">
                <p class="font-light">Id eum diam volutpat, paulo disputando ius id. Eu eirmod inso mei. Ut pri malorum argumentum, his ea recusabo.</p>
                <ul>
                    <li>Adresse: Tulsi Theater Road, Marathalli, Bengaluru</li>
                    <li>Phone: +1234567890</li>
                </ul>
            </div>
        </div>
        <div class="feature-img" [ngStyle]="{'background-image': 'url(../assets/images/feature-img-2.png)'}">
        </div>
    </div>
    <div class="feature-item-wrapper">
        <div class="feature-img" [ngStyle]="{'background-image': 'url(../assets/images/feature-img-3.png)'}">
            <img src="../assets/images/feature-sub-img-3.png" alt="">
        </div>
        <div class="feature-desc">
            <div class="feature-title last">A pro directory app</div>
            <div class="feature-sub-desc font-light">
                <p>Lorem id eum diam volutpat, paulo disputando ius id. Eu eirmod in solens mei. 
                    Ad meis expetenda maluisset sea.</p>
                <div class="app-btn btn">
                    I'App Store
                </div>
                <div class="app-btn btn">
                    Google Store
                </div>
            </div>
        </div>
    </div>
</div>
