
<div class="feauture-container p-5">
    <div class="row">
           <div class="col-md-6  mb-5 bg-1-sub">
            <img src="../../../../../assets/images/feature-img-1.png" class="category-img">
           </div>
           <div class="col-md-6  mb-5">
              <h4 class="mb-2 font-bold">CLAIM YOUR BUSINESS</h4> 
              <h6 class="text-secondary mb-4">Id eum diam volutpat, paulo disputando ius id. Eu eirmod in solens mei. Ad meis expetenda maluisset sea.</h6>
              <button class="listing-btn"><h6>Get Listing</h6></button>
           </div>
           <div class="col-md-6  mb-5  ">
            <h4 class="mb-2 font-bold">BUSINESS INFORMATION</h4>  
            <h6 class="text-secondary mb-4">Id eum diam volutpat, paulo disputando ius id. Eu eirmod in solens mei. Ad meis expetenda maluisset sea.</h6>
            <ul class="business-info">
                <li class="mb-2">Adresse: Carrer del Dr. Trueta, 50, Barcelona</li>
                <li class="mb-2">Phone: +1234567890</li>
            </ul>
           </div>
          <div class="col-md-6  mb-5 bg-1">
            <img src="../../../../../assets/images/feature-img-2.png" class="category-img"> 
          </div> 
          <div class="col-md-6  mb-5 bg-1">
            <img src="../../../../../assets/images/feature-sub-img-3.png" class="category-img">  
          </div>
          <div class="col-md-6  mb-5">
            <h4 class="mb-2 font-bold">A PRO DIRECTORY APP</h4>  
            <h6 class="text-secondary mb-4">Id eum diam volutpat, paulo disputando ius id. Eu eirmod in solens mei. Ad meis expetenda maluisset sea.</h6>  
          </div>
    </div>
</div>
