@import './themes';

@mixin nb-overrides() {
  nb-select.size-medium button {
    padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;

    nb-icon {
      right: 0.41rem !important;
    }
  }
}
body { margin: 0; font-family: "Open Sans",sans-serif !important; overflow-x: hidden;}
p,h1,h2,h3,h4,h5,h6
{
  line-height: 1.7 !important;
  letter-spacing: 1px !important;
  margin: 0 !important;
  padding: 0 !important;

}
ul
{
  padding: 0 !important;
}
h6
{
  font-size: 0.9rem !important;
}
.font-bold
{
  font-weight: 600 !important;
}
ul
{
  list-style: none !important;
}