
   /* Header CSS */

    header
    {
        .navbar-header {
            background-color:#ffff;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
            border-bottom: 1px solid #fff;
        }
        
        .navbar-light .navbar-brand {
            font-weight: bolder;
            color: #000000;
        }
        .navbar-light .navbar-nav .nav-link {
            font-family: "Courier New", Courier, monospace;
            font-weight: 800;
            color: #000000;
        }
        .btn-outline-success:hover {
            background-color: #05386B;
        }
    }

    /* Footer CSS */

    footer
    {
        background-color: #f8f5ed;
        .footer-list {
            list-style: none;
            color: #636363;
        }
        .copyright
        {
            background: #3C774B;
            padding: 7px;
            color: #fff;
        }
    }  

   