<footer>
    <div class="row p-md-5 px-3 py-5">
        <div class="col-md-3 col-12 mb-3">
            <h6 class="font-bold">Green Directory</h6>
            <h6 class="mt-3 pr-3">Welcome to FindAll, a modern business directory and listing theme that’s just perfect for your new website.</h6>    
        </div>
        <div class="col-md-3 col-4 mb-3"><h6 class="font-bold">Feautured Cities</h6>
        <ul class="mt-3 footer-list">
            <li><h6>Spain</h6></li>
            <li><h6>France</h6></li>
            <li><h6>United States</h6></li>
            <li><h6>England</h6></li>
            <li><h6>Italy</h6></li>
            <li><h6>Sweden</h6></li>
        </ul>  
        </div>
        <div class="col-md-3 col-4 mb-3"><h6 class="font-bold">Popular Category</h6>
            <ul class="mt-3 footer-list">
                <li><h6>Automotive</h6></li>
                <li><h6>Cleaning</h6></li>
                <li><h6>Gym</h6></li>
                <li><h6>Movers</h6></li>
                <li><h6>Finance</h6></li>
                <li><h6>Agriculture</h6></li>
            </ul>
        </div>
        <div class="col-md-3 col-4 mb-3"><h6 class="font-bold">Uselful Links</h6>
            <ul class="mt-3 footer-list">
                <li><h6>Home</h6></li>
                <li><h6>About</h6></li>
                <li><h6>Blog</h6></li>
                <li><h6>Contact</h6></li>
                <li><h6>Listing</h6></li>
            </ul>
        </div>
    </div>
    <div class="col-md-12 mt-3 px-md-5 px-3 copyright">
        <h6>Privacy Policy <span class="copy-right-txt">Copyright ©2020 All rights reserved </span></h6>
    </div>
</footer>